/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol { 
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 

/* end reset browser styles */

/* typical for RWD */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

img, object{
    max-width: 100%;
}
/* end typical for RWD */

body{
    background-color: #f9f3e9;
    color:#594846;
    font-family: "Adobe Caslon Pro", Georgia, "Times New Roman", serif;
}
header{
    background-image: url('../images/w.png');
    background-repeat: no-repeat;
}
h1{
    font-size: 28px;
    border-bottom: solid 1px #594846;
    border-top: solid 1px #594846;
    font-variant: small-caps;
    text-align: center;
    padding: 1.2%;
}
h2{
    font-size:20px;
    line-height: 125%;
    font-weight: bold;
    margin-bottom: 5px;
}
h3{
    border-bottom: dashed thin #7b96bc;
    margin-right: 10px;
}
nav{
    background-color: #7b96bc;
    border-bottom: thin solid #594846;
}
nav ul{
    margin:0;
    padding:0;
    overflow: hidden;
}
nav ul li{
    float: left;
    padding: 5px;
    text-align: center;
    list-style-type: none;
    width:33.3333333%;
}
nav ul li a{
    color:#42628f;
    text-decoration: none;
    font-variant: small-caps;
}
section{
    padding:1.5%;
}

aside ul li{
    list-style-image: url('../images/point.png');
    
}
aside ul{
    margin-left:20px;
}
footer{
    background-color: #7b96bc;
    color:#f9f3e9;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding:10px;
}

@media (max-width: 480px){
    header{
      width: 480px;
      height:200px;
    }
    p{
        margin:5px 0px;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    header{
        width: 768px;
        height: 200px;
    }
    aside.left{
        float:left;
        width: 33%;
    }
    article{
        margin-left:36%;
    }
    aside{
        clear: left;
    }
    p{
        margin:5px 0px;
    }
}
@media (min-width:769px){
    header{
        width: 769px;
        height:200px;
    }
    section{
        display: flex;
        -webkit-justify-content:space-between;
    }
    aside.left,aside{
        width:25%;
        box-sizing: border-box;
    }
    article{
        width:50%;
        box-sizing: border-box;
        margin-left:25px;
        margin-right: 25px;
    }
    p{
        line-height: 175%;
        padding:5px 0px;
    }
    aside ul li{
        line-height: 175%;
    }
    h3{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}s